Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Build/Script/*.Automation/obj/
/Build/Script/*.Automation/Properties/
/LastCoverageResults.log
/Content/NonUFS/Copy/Game.version
Releases
/Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
/Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
/Build/Windows/FileOpenOrder/CookerOpenOrder.log
/Build/Windows/FileOpenOrder/EditorOpenOrder.log
