[submodule "Plugins/HorizonQuest"]
	path = Plugins/HorizonQuest
	url = https://kanohorizonia@dev.azure.com/kanohorizonia/UEHorizonPlugin/_git/HorizonQuest

[submodule "Build/Base"]
	path = Build/Base
	url = https://kanohorizonia@dev.azure.com/kanohorizonia/EpicGames/_git/KanoUnrealBuildTool
